#info-about{
    background-color: gray;
    text-align:center;
}

#Projects-examples{
    align-items: center;
    background-color: plum;
}

#Projects-examples-picture{
    display: grid;
    grid-template-columns: auto auto auto;
    padding 1000px;
    gap: 50px 100px;
    
}

img{
    
    width: 50%;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
.button{
    text-align: center;
}